# Ignore Gradle project-specific cache directory
.gradle
gradlew

# Ignore Gradle build output directory
build
bin
*/target

# IDE
.idea
.vscode

# Server files
server

# Repomix
repomix-output.xml
/.repomixignore
/custom-repomix.xml
